<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document1</title>
</head>
<body>
    <div class="wrapper">
		<form id="form">
			<input autocomplete="off" id="categorynameInput" type="text" placeholder="categoryname">
			<button id="btn">create category</button>
			<button id="btn"><a href="/">contacts</a></button>
		</form>		
		<table>
			<thead>
				<tr>
					<th>N</th>
					<th>Name</th>
					<th>delete</th>
				</tr>
			</thead>
			<tbody id="tbody">
				
			</tbody>
		</table>
	</div>
</body>
<script src="./js/util.js"></script>
<script src="./js/category.js"></script>
</html>